/* Body Background and Text */
body {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364); 
    color: #f5f5f5; 
    padding: 20px;
}

/* Header & Nav */
header {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-family: "Graduate", serif;
}

nav {
    color: #ccc;
    font-style: italic;
    width: 100%;
    margin: 0px;
    font-size: 1.2em;
}